<% provide(:title, "医薬品情報") %>
<div class="container">
  <%= link_to "新規登録", "/medicines/new", class: "btn btn-lg btn-primary" %>
</div>
<div class="container" >
 <table class="table table-condensed">
    <thead>
        <tr>
            <th>ID</th>
            <th>報告日</th>
            <th>医薬品名</th>
            <th>タイトル</th>
            <th>コード</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <td>Hanako</td>
            <td>Qiita</td>
            <td>@Hanaq</td>
        </tr>
        <tr>
            <th>2</th>
            <td>Taro</td>
            <td>Qiita</td>
            <td>@TaroQ</td>
        </tr>
    </tbody>
  </table>
</div>